@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity = $opacity-ie); //IE8
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin border-radius($radius...) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin bp-lg {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}

@mixin bp-md {
    @media only screen and (max-width: 980px) {
        @content;
    }
}

@mixin bp-sm {
    @media only screen and (max-width: 736px) {
        @content;
    }
}

@mixin bp-xs {
    @media only screen and (max-width: 480px) {
        @content;
    }
}
