// color palette

$moonrise: #fff;
$kingdom: #24281A;
$moonrise-ac: #798E87;
$kingdom-ac: #D5D5D3;
$link: #C27D38;

//font

$title-font: 'Lato', sans-serif;
$main-font: 15px/1.8rem 'Open Sans', sans-serif;
