// color palette

$moonrise: #fff;
$kingdom: #24281A;
$moonrise-ac: #798E87;
$kingdom-ac: #D5D5D3;
$link: #C27D38;

//font

$title-font: bold 'Lato', sans-serif;
$title-font-dim: 'Lato', sans-serif;
$main-font: 15px/18px 'Open Sans', sans-serif;
