@import 'mixins';
@import 'vars';
// base
* {
    box-sizing: border-box;
}

html {
    font: $main-font;
    color: $moonrise;
}

body {
    background: $moonrise;
    margin: 0 0;
}

a {
    color: $link;
    text-decoration: none;
    @include transition(all 0.35s ease-in-out);
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $title-font;
}

h1 {
    font-size: 2.2rem;
    line-height: 2.8rem;
    @include bp-xs {
        font-size: 2rem;
        line-height: 2.4rem;
    }
}

h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    @include bp-xs {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

h3 {
    font-size: 1.5rem;
    line-height: 2.8rem;
    @include bp-xs {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}

ol,
ul {
    list-style: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    width: 82%;
    border: 0;
    border-top: 1px solid $kingdom-ac;
    margin: 3em auto;
    padding: 0;
}

.highlight {
    color: $moonrise-ac;
}

// header
header {
    margin: 0;
}

.header {
    background-color: $kingdom;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-attachment: fixed, scroll;
    background-image: url("../../img/bg.jpg"), url("../../img/overlay.png");
    background-position: top left, top left;
    background-repeat: no-repeat, repeat;
    background-size: auto 100%, auto;
    height: 100%;
    padding: 8em 4em;
    left: 0;
    position: fixed;
    top: 0;
    width: 30%;
    @extend .align-right;
    > * {
        flex-shrink: 0;
        width: 100%;
    }
    > .inner {
        flex-grow: 1;
    }
    .inner {
        margin: 0 1em 0 0;
        .avatar {
            margin: 0 0 1.5em;
            width: 100px;
            @include border-radius(50%);
        }
        .contact {
            ul {
                margin: 2em 0;
                @include bp-sm {
                    margin: 0;
                    padding: 1em 0 0;
                }
            }
            ul li {
                display: inline-block;
            }
            i {
                font-size: 2.5em;
                color: $link;
                padding-left: 0.5em;
                @include bp-sm {
                    padding: 0 0.2em;
                }
            }
        }
        p {
            font-size: 1.2rem;
            color: $kingdom-ac;
            position: relative;
        }
        h1 {
            color: $moonrise;
        }
        a {
            text-decoration: none;
        }
        @include bp-sm {
            margin: 0;
            text-align: center;
        }
    }
    @include bp-sm {
        background-attachment: scroll;
        background-position: center center, top-left;
        background-size: cover, auto;
        left: auto;
        padding: 6em 4em;
        position: relative;
        width: 100%;
        text-align: center;
    }
}

// main
#main {
    margin-left: 30%;
    max-width: 90%;
    color: $kingdom;
    div,
    h2,
    p {
        padding: 0 3rem;
        @include bp-sm {
            padding: 1rem;
        }
    }
    @include bp-sm {
        margin: 2rem 0 0;
        max-width: 100%;
    }
    .intro {
        h2 {
            padding-top: 2rem;
            @include bp-sm {
                padding-top: 1rem;
            }
        }
        p {
            padding-bottom: 2rem;
        }
    }
    .works {
        h2 {
            padding-bottom: 2rem;
        }
    }
    .masonry {
        column-count: 2;
        @include bp-md {
            column-count: 1;
            margin: 0 auto;
        }
        .item {
            display: inline-block;
            margin: 0 0 1em;
            @extend .align-center;
            padding: 1em;
            width: 100%;
            @include box-shadow(1px 1px 2px 0 #ccc);
            @include bp-sm {
                margin: 0 auto;
            }
            p {
                padding: 0 1rem;
            }
        }
    }
}

// footer
footer {
    margin-left: 30%;
    width: 70%;
    bottom: 0;
    padding: 1em 2em;
    @extend .align-right;
    p {
        color: $kingdom-ac;
    }
    i {
        display: inline-block;
        font-size: 1.5em;
        color: $link;
        padding: 0.2rem;
    }
    @include bp-sm {
        width: 100%;
        margin: 0 auto;
        padding: 0.5em;
        text-align: center;
    }
}
